*{
    margin: 0;
    padding: 0;
}


.font_inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
html{
    font-size: 16px;
}

header
{
    /* max-width: 1600px; */
    /* border: 1px solid red; */
    background-color: #1A0B2E ;
}

nav
{
    /* border: 1px solid blue; */
    background-color: #1A0B2E ;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 24px;
    padding-bottom: 24px;
    
}

nav .nav_menu
{
    /* max-width: 218px; */
    /* border: 1px solid white; */
    display: flex;
    gap: 32px;
    
}

.nav_menu a
{
    color: white;
    text-decoration: none;
    font-size: 1rem;
}

.nav_button button
{
    display: flex;
    gap:4px;  
    /* border: 1px solid white; */
    padding: 12px 16px; 
    background:linear-gradient(15deg,#F7E93F 25%,#FB09B4 40%,#9100F8 100%);
    border-radius: 25px;
    color: white;
    font-size: 1rem;
    border: none;
}

.nav_button button:hover
{
    cursor: pointer;
    background: linear-gradient(-155deg, #F7E93F 20%, #FB09B4 40%, #9100F8 100%);

}

.hamburg
{
    display: none;
}

/* Hero Section  */

.hero
{
    background-image: url(../Styles/hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /* max-width: 1600px ; */
    /* height: 750px; */
    display: flex;
    
}


.hero_container
{
    margin: 101px auto;
    max-width: 550px;
    /* border: 2px solid green; */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
}

.mic
{
    display: flex;
    position: relative;
}

.mic img
{
    position:absolute;
    top: -270px;
    left: -60px;
    
}

.mic button
{
    background-color: #00FF88;
    font-size: 1.125rem;
    color: black;
    padding: 8px 20px;
    border-radius: 20px;
    border: none;
    font-weight: 600;
    box-shadow: 0 3px 27px 0 #00FF88;

    position:absolute;
    top:-325px;
    right:-170px
}

.hero_text
{
    text-align: center;
    margin-top: 40px;
    margin-bottom: 24px;
}

.hero_text h1
{
    font-size: 3.75rem;
    line-height: auto;
}

.hero_text p
{
    margin-top: 8px;
    font-size: 1rem;
}

.hero_buttons
{
    display: flex;
    /* width: 356px; */
    gap: 8px;
    justify-content: space-between;
    /* border: 1px solid red; */
}

.spotify
{
    display: flex;
    gap: 8px;
    background:linear-gradient(20deg,#F7E93F 20%,#FB09B4 40%,#9100F8 100%);
    border-radius: 25px;
    color: white;
    font-size: 0.9rem;
    border: none;
    padding: 12px 20px;
    font-weight: 600;
    
}

.subs
{
    display: flex;
    gap: 8px;
    background-color: #1A0B2E;
    color: #00FF88;
    font-size: 0.9rem;
    font-weight: 600;
    border: 1px solid #00FF88;
    padding: 12px 20px;
    border-radius: 25px;
    
}

.spotify:hover {
    cursor: pointer;
    background: linear-gradient(-155deg, #F7E93F 20%, #FB09B4 40%, #9100F8 100%);
}

.subs:hover
{
    cursor: pointer;
}

/* About Section  */

.about
{
    background-color: #1A0B2E ;
}

.about_container
{
    max-width:1200px;
    margin: 0 auto;
    padding-bottom: 120px;
    padding-top: 50px;
    /* border: 1px solid white; */

}

.about_text
{
    text-align: center;
}

.about_text h1
{
    font-size: 3rem;
    font-weight: bold;
    color: #FFFFFF;

}

.about_text p{
    font-size: 1rem;
    line-height: 20px;
    margin-top:16px ;
    color: #ffffffb2;
    box-shadow: 0 4px 4px #00000033;
}

.about_line hr
{
    margin-top: 80px;
    margin-bottom: 80px;
}

.about_numbers_container
{
    display: grid;
    grid-template-columns: repeat(4,1fr);

    /* display: flex;
    justify-content: space-between; */
}

.number_cards
{
    text-align: center;
}

.number_cards h1
{
    color: #00FF88;
    font-size: 3rem;
    padding-bottom:1rem ;
}

.number_cards p
{
    font-size: 1rem ;
    line-height: 20px;
    color: #ffffffe1;
}

.feature
{
    background-color: #230E3D;
}

.feature_container
{
    max-width: 1200px;
    margin: 0 auto;
    padding-bottom: 120px;
    /* border: 1px solid white; */
    /* background-color: #35116588; */
}

.feature_header h1
{
  text-align: center;
  font-size: 3rem;
  padding-top: 120px;
}

.feature_cards
{
    background-color: rgba(53, 17, 101, 0.4);
    border-radius: 40px;
}

.feature_card_container
{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    gap: 30px ;
    padding-top: 40px;
}

.card_1
{
    grid-row: 1 / span 2;
    /* border: 1px solid white; */
    display: flex;
    align-items: center;
    padding: 40px;
}

.card_2
{
    grid-column: 2 / span 2;
    /* border: 1px solid white; */
       display: flex;
    align-items: center;
    padding: 40px;
}

.card_3
{
    grid-column: 2 / span 2;
    /* border: 1px solid white; */
       display: flex;
    align-items: center;
    padding: 40px;
}

.card_4
{
    grid-column: 1 / span 2;
    /* border: 1px solid white; */
     display: flex;
    align-items: center;
    padding: 40px;

}

.card_5
{
    /* border: 1px solid white; */
    display: flex;
    align-items: center;
    padding: 40px;
}

.card_content h3
{
    font-size: 1.5rem;
    padding: 16px 0;   
}

.card_content p
{
    font-size: 1rem;
    color: #ffffffa4;
}

/* Video section */
.videos
{
    background-color: #1A0B2E;
}

.video_container
{
    max-width: 1200px;
    margin: 0 auto;
}

.video_header h1
{
    text-align: center;
    font-size: 48px;
    padding-top: 120px;
    padding-bottom: 40px;
}

.video_card_container
{
    display: flex;
    justify-content: center;
    gap: 30px;
    padding-bottom: 120px;
}

.v_card
{
    max-width: 380px;
    /* border: 1px solid red; */

    display: flex;
    flex-direction: column;
    border-radius: 30px;
    position: relative;
    background-color: #250D44;
    /* height: 440px; */
}

.v_card iframe
{
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}
.v_card h3 
{
    font-size: 1.5rem ;
    padding-top: 24px ;
    padding-right: 24px;
    padding-left: 24px;
    padding-bottom: 12px;

}
.v_card h3 a{
    color: white;
    text-decoration: none;
}

.v_card p
{
    font-size: 1rem;
    color: #ffffffa4;
    line-height: 24px;
    padding-bottom: 12px;
    padding-left: 24px;
    padding-right: 24px;
}

.clock
{
    /* border: 1px solid white; */
    display: flex;
    align-items: center;
    gap:8px;
    max-width: 322px;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 24px;
}

.clock .image img
{
    width: 19px;
    height: 19px;
    display: block;
}

.clock p
{
    margin: 0;
    padding: 0;
    font-size: 1rem;
    color: #00FF88;
}

.playicon
{
    background:linear-gradient(20deg,#F7E93F 20%,#FB09B4 40%,#9100F8 100%);
    height:80px;
    width: 80px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position:absolute;
    top: 70px;
    left: 150px;
 
}

.playicon :hover
{
    cursor: pointer;
}

/* Host_section */

.meet
{
    background-color: #1A0B2E;
}

.meet_container
{
    max-width: 1200px;
    margin: 0 auto;
    padding-bottom: 120px;
}

.meet_header h1
{
    font-size: 3rem;
    text-align: center;
    padding-bottom: 40px;
}

.guest_container
{
    display: flex;
    align-items: center;
    gap: 24px;
    background-color:#533c7260;
    padding: 40px;
    border-radius:40px ;
}
.guest_intro h2
{
    font-size: 2rem;
    padding-bottom: 16px;
}

.guest_intro p
{
    font-size: 1rem;
    padding-bottom: 1rem;
    line-height: 24px;
    color: #ffffff98;
}

.guest_contact
{
    display: flex;
    gap: 8px;
    align-items: center;
    max-width: 184px ;
    max-height: 40px;
    margin-top: 16px;
}
.guest_contact img
{
    border: 1px solid #533C72;
    border-radius: 50%;
    padding: 20px;
    
}









/* Responsive Section  */
@media screen and (max-width:576px)
{

    .nav_menu a
    {
        display: none;
    }

    .nav_button
    {
        display: none;
    }

    .hamburg
    {
        display: block;
        margin-right: 20px;
    }

    .nav_logo img{
        max-width:137px ;
        max-height: 20px;
        margin-left: 20px;
    }

    .hero{
        background-image: url(../Styles/hero-bg.png);
        background-position: center;
        background-size: 200%;
        /* border: 2px solid red; */
                
    }



    .hero .hero_container .hero_image img 
    {
        max-width: 200px;
        max-height: 200px;
    }

    .mic img
    {
        max-width: 80px;
        max-height: 80px;  
        position: absolute;
        top: -145px;
        left: -25px;
    }

    .hero_text h1
{
    font-size: 2.5rem;
    line-height: auto;
}
    
   .hero_text p
{
    margin-top: 8px;
    font-size: 1rem;
    max-width: 400px;
}

.mic button
{
    width: 70px;
    height: 35px;
    font-size: 1rem ;
    font-weight: 600;

    position:absolute;
    top:-185px;
    right:-130px
}


.about_numbers_container
{
   
    grid-template-columns: repeat(2,1fr);
    gap: 40px; 


    
}

.about_container
{
    margin-top: 0;
    padding-top: 0;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 40px;
}

.about_text h1
{
    font-size: 2rem;
}

.about_text p{
    padding-bottom: 0;
    margin-bottom: 0;
}

.about_text
{
    margin-bottom: 0;
    padding-bottom: 0;
}

.feature_container 
{
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 40px;
}

.feature_header h1 
{
    font-size: 2rem;
    padding-top: 60px;
        
}

.feature_card_container 
{
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 16px;
    padding: 20px;
}

.card_1,.card_2,.card_3,.card_4,.card_5 
{
        grid-column: auto;
        grid-row: auto;
        padding: 24px;
        flex-direction: column;
        text-align: left;
}

.video_card_container
{
    display: flex;
    flex-direction: column;
}

.v_card
{
    margin: auto;
}

.video_header h1
{
    font-size: 2rem;
}

.guest_container{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.guest_contact
{
    padding-left: 30px;
}

.meet_header h1{
    font-size: 2rem;
}

.guest_intro h2
{
    font-size: 1.5rem;
}

    
}

